<div class="container">
	<div class="row">
		<div class="col-xs-12">

			<h2>
				<% if @model == "user" %>
					Users search for 'test'
				<% elsif @model == "book" %>
					Books search for 'test'
				<% end %>
			</h2>
				<table class="table">
					<thead>
						<tr>
							<% if @model == "user" %>
								<th>image</th>
								<th>name</th>
							<% elsif @model == "book" %>
								<th></th>
								<th>Title</th>
								<th>Opinion</th>
							<% end %>
						</tr>
					</thead>

					<tbody>
						<% if @model == "user" %>
							<% @datas.each do |data| %>
							<tr>
								<td><%= attachment_image_tag(data, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
								<td><%= data.name %></td>
								<td><%= link_to "Show", data %>
							</tr>
							<% end %>
						<% elsif @model == 'book' %>
							<% @datas.each do |data| %>
							<tr>
								<td>
									<%= link_to(data.user) do %>
										<%= attachment_image_tag(data.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
									<% end %>
								</td>
								<td><%= link_to data.title, data %></td>
								<td><%= data.body %>
							<% end %>
							</tr>
						<% end %>
					</tbody>
				</table>
		</div>
	</div>
</div>
